openapi: 3.0.3
info:
  title: Arsiva API
  description: "REST API untuk **Arsiva** \u2014 sistem manajemen arsip dan inventaris.\n\
    \n## Autentikasi\nSemua endpoint (kecuali Login dan GET uploaded files) memerlukan\
    \ JWT Bearer token.  \nDapatkan token melalui endpoint `POST /api/v1/login`.\n\
    \n## Role-Based Access Control\nSetiap endpoint dilindungi oleh middleware berdasarkan\
    \ role yang ada di JWT:\n\n| Role | Deskripsi | Akses |\n|------|-----------|-------|\n\
    | `member` | Siswa / Murid | Hanya bisa **membaca** konten (GET) |\n| `guru` |\
    \ Guru / Pengajar | Membaca + **membuat/edit/hapus** konten |\n| `super_admin`\
    \ | Administrator | Semua akses termasuk **manajemen user** |\n\nResponse `401\
    \ Unauthorized` jika token tidak valid/expired.  \nResponse `403 Forbidden` jika\
    \ role tidak memiliki izin.\n\n## Format Response\nSemua response mengikuti format:\n\
    ```json\n{\n  \"data\": ...,\n  \"paging\": { \"page\": 1, \"size\": 10 },\n \
    \ \"errors\": \"\"\n}\n```\n"
  version: 1.0.0
  contact:
    name: Artha
servers:
- url: https://arsiva.id
  description: Production
tags:
- name: Auth
  description: Autentikasi & token management (public)
- name: Users
  description: "CRUD manajemen data user (\U0001F512 super_admin)"
- name: Article Categories
  description: "CRUD kategori artikel (\U0001F512 GET = semua role, POST/PUT/DELETE\
    \ = guru + super_admin)"
- name: Articles
  description: "Manajemen artikel (\U0001F512 GET = semua role, POST/PUT/DELETE =\
    \ guru + super_admin)"
- name: Puzzles
  description: "CRUD puzzle (\U0001F512 GET = semua role, POST/PUT/DELETE = guru +\
    \ super_admin)"
- name: Quizzes
  description: "CRUD kuis (\U0001F512 GET = semua role, POST/PUT/DELETE = guru + super_admin)"
- name: Quiz Categories
  description: "CRUD kategori kuis (\U0001F512 GET = semua role, POST/PUT/DELETE =\
    \ guru + super_admin)"
- name: Story Categories
  description: "CRUD kategori cerita (\U0001F512 GET = semua role, POST/PUT/DELETE\
    \ = guru + super_admin)"
- name: Stories
  description: "CRUD cerita interaktif (\U0001F512 GET = semua role, POST/PUT/DELETE\
    \ = guru + super_admin)"
- name: Upload
  description: "Upload file gambar (\U0001F512 POST = guru + super_admin, GET = public)"
- name: Groups
  description: "CRUD manajemen grup dan anggota (\U0001F512 POST/PUT/DELETE/GET =\
    \ guru, POST join = member)"
paths:
  /api/v1/login:
    post:
      tags:
      - Auth
      summary: Login
      description: "Autentikasi user dengan email dan password.  \nMengembalikan **access\
        \ token** (expired 60 menit) dan **refresh token** (expired 7 hari).\n"
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: admin@example.com
              password: rahasia123
      responses:
        '200':
          description: Login berhasil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseWrapper'
              example:
                data:
                  user:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    username: admin
                    email: admin@example.com
                    role: admin
                  access_token: eyJhbGciOiJIUzI1NiIs...
                  refresh_token: eyJhbGciOiJIUzI1NiIs...
        '400':
          description: Request body tidak valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bad Request
        '401':
          description: Email atau password salah
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Unauthorized
  /api/v1/users:
    get:
      tags:
      - Users
      summary: Get all users
      description: "Mengambil seluruh user yang aktif (`is_active = true`).  \n\U0001F512\
        \ **Role**: `super_admin`\n"
      operationId: getAllUsers
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Daftar user berhasil diambil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponseWrapper'
              example:
                data:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  username: admin
                  email: admin@example.com
                  role: admin
                - id: 660f9511-f30c-52e5-b827-557766550111
                  username: budi
                  email: budi@example.com
                  role: guru
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Users
      summary: Create user
      description: "Membuat user baru. Password akan di-hash menggunakan bcrypt (cost\
        \ 12).  \nSemua field wajib diisi.  \n\U0001F512 **Role**: `super_admin`\n"
      operationId: createUser
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
            example:
              username: charlie
              email: charlie@example.com
              password: secret123
              role: guru
      responses:
        '200':
          description: User berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseWrapper'
              example:
                data:
                  id: 770a0622-a41d-63f6-c938-668877660222
                  username: charlie
                  email: charlie@example.com
                  role: guru
        '400':
          description: Validasi gagal (field kosong / email tidak valid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bad Request
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Gagal menyimpan ke database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: UUID user
      schema:
        type: string
        format: uuid
      example: 550e8400-e29b-41d4-a716-446655440000
    get:
      tags:
      - Users
      summary: Get user by ID
      description: "Mengambil detail satu user berdasarkan `user_id`.  \n\U0001F512\
        \ **Role**: `super_admin`\n"
      operationId: getUserById
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseWrapper'
              example:
                data:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  username: admin
                  email: admin@example.com
                  role: admin
        '500':
          description: User tidak ditemukan / error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Users
      summary: Update user
      description: "Mengupdate data user. Semua field harus diisi termasuk password\
        \ baru.  \nPassword akan di-hash ulang.  \n\U0001F512 **Role**: `super_admin`\n"
      operationId: updateUser
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
            example:
              username: admin-updated
              email: admin-new@example.com
              password: newpassword
              role: admin
      responses:
        '200':
          description: User berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseWrapper'
              example:
                data:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  username: admin-updated
                  email: admin-new@example.com
                  role: admin
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Gagal update ke database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Users
      summary: Delete user (soft delete)
      description: "Melakukan **soft delete** \u2014 mengubah `is_active` menjadi\
        \ `false`.  \nData user tetap ada di database.  \n\U0001F512 **Role**: `super_admin`\n"
      operationId: deleteUser
      security:
      - BearerAuth: []
      responses:
        '200':
          description: User berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: User deleted successfully
        '500':
          description: Gagal menghapus user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/categories/article:
    get:
      tags:
      - Article Categories
      summary: Get all article categories
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getAllArticleCategories
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Daftar kategori artikel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCategoryListWrapper'
    post:
      tags:
      - Article Categories
      summary: Create article category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: createArticleCategory
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCategoryRequest'
            example:
              nama_kategori: Sejarah
      responses:
        '200':
          description: Kategori berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCategoryWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/categories/article/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID kategori artikel
    get:
      tags:
      - Article Categories
      summary: Get article category by ID
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getArticleCategoryById
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail kategori
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCategoryWrapper'
    put:
      tags:
      - Article Categories
      summary: Update article category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: updateArticleCategory
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCategoryRequest'
      responses:
        '200':
          description: Kategori berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCategoryWrapper'
    delete:
      tags:
      - Article Categories
      summary: Delete article category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: deleteArticleCategory
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Kategori berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: Article Category Deleted
  /api/v1/categories/story:
    get:
      tags:
      - Story Categories
      summary: Get all story categories
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getAllStoryCategories
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Nomor halaman
      - name: size
        in: query
        schema:
          type: integer
          default: 10
        description: Jumlah item per halaman
      - name: search
        in: query
        schema:
          type: string
        description: Pencarian berdasarkan nama kategori
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Daftar kategori cerita
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryCategoryListWrapper'
    post:
      tags:
      - Story Categories
      summary: Create story category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: createStoryCategory
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoryCategoryRequest'
            example:
              nama_kategori: Fantasi
      responses:
        '200':
          description: Kategori berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryCategoryWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/categories/story/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID kategori cerita
    get:
      tags:
      - Story Categories
      summary: Get story category by ID
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getStoryCategoryById
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail kategori
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryCategoryWrapper'
    put:
      tags:
      - Story Categories
      summary: Update story category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: updateStoryCategory
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoryCategoryRequest'
      responses:
        '200':
          description: Kategori berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryCategoryWrapper'
    delete:
      tags:
      - Story Categories
      summary: Delete story category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: deleteStoryCategory
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Kategori berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: Story Category Deleted
  /api/v1/categories/quiz:
    get:
      tags:
      - Quiz Categories
      summary: Get all quiz categories
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getAllQuizCategories
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Nomor halaman
      - name: size
        in: query
        schema:
          type: integer
          default: 10
        description: Jumlah item per halaman
      - name: search
        in: query
        schema:
          type: string
        description: Pencarian berdasarkan nama kategori
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Daftar kategori kuis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizCategoryListWrapper'
    post:
      tags:
      - Quiz Categories
      summary: Create quiz category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: createQuizCategory
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuizCategoryRequest'
            example:
              nama_kategori: Pengetahuan Umum
              deskripsi: Kategori kuis untuk pengetahuan umum
      responses:
        '200':
          description: Kategori berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizCategoryWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/categories/quiz/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID kategori kuis
    get:
      tags:
      - Quiz Categories
      summary: Get quiz category by ID
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getQuizCategoryById
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail kategori
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizCategoryWrapper'
    put:
      tags:
      - Quiz Categories
      summary: Update quiz category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: updateQuizCategory
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuizCategoryRequest'
      responses:
        '200':
          description: Kategori berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizCategoryWrapper'
    delete:
      tags:
      - Quiz Categories
      summary: Delete quiz category
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: deleteQuizCategory
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Kategori berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: Quiz Category Deleted
  /api/v1/articles:
    get:
      tags:
      - Articles
      summary: Get all articles
      description: "Mengambil semua artikel yang aktif (tanpa konten, untuk listing).\
        \  \n\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getAllArticles
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Nomor halaman
      - name: size
        in: query
        schema:
          type: integer
          default: 10
        description: Jumlah item per halaman
      - name: search
        in: query
        schema:
          type: string
        description: Pencarian berdasarkan judul artikel
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Daftar artikel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleListWrapper'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Articles
      summary: Create article (draft)
      description: "Membuat artikel baru dengan status **draft**.  \nHanya memerlukan\
        \ `title`, `category_id`, dan `created_by`.  \nSlug otomatis di-generate dari\
        \ judul.  \n\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: createArticle
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCreateRequest'
            example:
              title: Sejarah Kerajaan Majapahit
              category_id: '1'
      responses:
        '200':
          description: Artikel draft berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/articles/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
      description: Slug artikel (unique)
      example: sejarah-kerajaan-majapahit-123456
    get:
      tags:
      - Articles
      summary: Get article by slug
      description: "Mengambil detail artikel lengkap beserta konten.  \n\U0001F512\
        \ **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getArticleBySlug
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail artikel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleWrapper'
        '500':
          description: Artikel tidak ditemukan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/articles/detail/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID artikel
    get:
      tags:
      - Articles
      summary: Get article by ID
      description: "Mengambil detail artikel lengkap berdasarkan ID (untuk halaman\
        \ edit).  \n\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getArticleById
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail artikel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleWrapper'
        '500':
          description: Artikel tidak ditemukan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/articles/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID artikel
    put:
      tags:
      - Articles
      summary: Update article
      description: "Update artikel dengan konten lengkap dari Block-Based Editor (BSON).\
        \  \nSlug dan excerpt otomatis di-generate ulang.  \n\U0001F512 **Role**:\
        \ `guru`, `super_admin`\n"
      operationId: updateArticle
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUpdateRequest'
            example:
              title: Sejarah Kerajaan Majapahit (Revisi)
              category_id: '1'
              status: published
              content: '{"blocks":[{"type":"paragraph","data":{"text":"Kerajaan Majapahit..."}}]}'
              thumbnail: /uploads/majapahit.jpg
      responses:
        '200':
          description: Artikel berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Articles
      summary: Delete article (soft delete)
      description: "Mengubah `is_active` menjadi `false`.  \n\U0001F512 **Role**:\
        \ `guru`, `super_admin`\n"
      operationId: deleteArticle
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Artikel berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: Article Deleted
        '500':
          description: Gagal menghapus artikel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/upload/image:
    post:
      tags:
      - Upload
      summary: Upload gambar
      description: "Upload file gambar untuk digunakan di artikel (thumbnail atau\
        \ konten Block-Based Editor).  \n- Format yang didukung: **jpg, jpeg, png,\
        \ webp, gif**  \n- Ukuran maksimal: **5MB**  \n- File disimpan di `uploads/YYYY/MM/<uuid>.ext`\
        \  \n- URL yang dikembalikan bisa langsung diakses via `GET /uploads/...`\
        \  \n\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: uploadImage
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - image
              properties:
                image:
                  type: string
                  format: binary
                  description: File gambar (jpg/jpeg/png/webp/gif, max 5MB)
      responses:
        '200':
          description: Upload berhasil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponseWrapper'
              example:
                data:
                  url: /uploads/2026/03/a1b2c3d4-e5f6-7890-abcd-ef1234567890.jpg
                  filename: majapahit.jpg
                  size: 204800
        '400':
          description: File tidak valid (format/ukuran salah)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: 'Format file tidak didukung. Gunakan: jpg, jpeg, png, webp,
                  gif'
  /uploads/{filepath}:
    parameters:
    - name: filepath
      in: path
      required: true
      schema:
        type: string
      description: Path file gambar
      example: 2026/03/majapahit.jpg
    get:
      tags:
      - Upload
      summary: Get uploaded file
      description: Mengambil file gambar yang telah diupload berdasarkan path-nya.
      operationId: getFile
      responses:
        '200':
          description: File gambar
          content:
            image/*:
              schema:
                type: string
                format: binary
        '404':
          description: File tidak ditemukan
  /api/v1/puzzles:
    get:
      tags:
      - Puzzles
      summary: Get all puzzles
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getAllPuzzles
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Nomor halaman
      - name: size
        in: query
        schema:
          type: integer
          default: 10
        description: Jumlah item per halaman
      - name: search
        in: query
        schema:
          type: string
        description: Pencarian berdasarkan judul puzzle
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Daftar puzzle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleListWrapper'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Puzzles
      summary: Create puzzle
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: createPuzzle
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PuzzleRequest'
      responses:
        '200':
          description: Puzzle berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/puzzles/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID puzzle
    get:
      tags:
      - Puzzles
      summary: Get puzzle by ID
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getPuzzleById
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail puzzle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleWrapper'
        '500':
          description: Puzzle tidak ditemukan atau error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Puzzles
      summary: Update puzzle
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: updatePuzzle
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PuzzleRequest'
      responses:
        '200':
          description: Puzzle berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Puzzles
      summary: Delete puzzle
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: deletePuzzle
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Puzzle berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: puzzle deleted successfully
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/quizzes:
    get:
      tags:
      - Quizzes
      summary: Get all quizzes
      description: "\U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getAllQuizzes
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        description: Nomor halaman
      - name: size
        in: query
        schema:
          type: integer
          default: 10
        description: Jumlah item per halaman
      - name: search
        in: query
        schema:
          type: string
        description: Pencarian berdasarkan judul kuis
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Daftar kuis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizListWrapper'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Quizzes
      summary: Create quiz
      description: "Membuat kuis baru beserta soal dan pilihan gandanya.  \n\U0001F512\
        \ **Role**: `guru`, `super_admin`\n"
      operationId: createQuiz
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuizRequest'
      responses:
        '200':
          description: Kuis berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/quizzes/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: ID kuis
    get:
      tags:
      - Quizzes
      summary: Get quiz by ID
      description: "Get kuis lengkap beserta pertanyaan dan pilihan ganda.  \n\U0001F512\
        \ **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getQuizById
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail kuis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizWrapper'
        '500':
          description: Kuis tidak ditemukan atau error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Quizzes
      summary: Update quiz
      description: "Update kuis, pertanyaan, dan pilihan ganda. Ini akan me-replace\
        \ pertanyaan dan pilihan lama.  \n\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: updateQuiz
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuizRequest'
      responses:
        '200':
          description: Kuis berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Quizzes
      summary: Delete quiz
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: deleteQuiz
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Kuis berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: quiz deleted successfully
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/stories:
    get:
      tags:
      - Stories
      summary: Get all stories
      description: "Mengambil semua cerita interaktif.  \n\U0001F512 **Role**: `member`,\
        \ `guru`, `super_admin`\n"
      operationId: getAllStories
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Daftar cerita interaktif
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryListWrapper'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Stories
      summary: Create story
      description: "Membuat cerita interaktif baru (draft) hanya dengan metadata cerita.\
        \  \n\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: createStory
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoryRequest'
      responses:
        '200':
          description: Cerita berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/stories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID cerita interaktif
    get:
      tags:
      - Stories
      summary: Get story by ID
      description: "Mengambil detail cerita interaktif beserta scene-scene-nya.  \n\
        \U0001F512 **Role**: `member`, `guru`, `super_admin`\n"
      operationId: getStoryById
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Detail cerita
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryWrapper'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Cerita tidak ditemukan atau error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Stories
      summary: Update story
      description: "Update metadata cerita interaktif (termasuk status publish). \
        \ \n\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: updateStory
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoryRequest'
      responses:
        '200':
          description: Cerita berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Stories
      summary: Delete story
      description: "\U0001F512 **Role**: `guru`, `super_admin`\n"
      operationId: deleteStory
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Cerita berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: story deleted successfully
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/stories/{id}/scenes:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID cerita interaktif
    post:
      tags:
      - Stories
      summary: Create scene
      description: "Menambahkan satu scene ke cerita interaktif.  \n\U0001F512 **Role**:\
        \ `guru`, `super_admin`\n"
      operationId: createStoryScene
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SceneRequest'
      responses:
        '200':
          description: Scene berhasil dibuat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SceneWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/stories/{id}/scenes/{scene_id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: ID cerita interaktif
    - name: scene_id
      in: path
      required: true
      schema:
        type: string
      description: ID scene
    put:
      tags:
      - Stories
      summary: Update scene
      description: "Update satu scene pada cerita interaktif.  \n\U0001F512 **Role**:\
        \ `guru`, `super_admin`\n"
      operationId: updateStoryScene
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SceneRequest'
      responses:
        '200':
          description: Scene berhasil diupdate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SceneWrapper'
        '400':
          description: Validasi gagal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Stories
      summary: Delete scene
      description: "Hapus satu scene pada cerita interaktif.  \n\U0001F512 **Role**:\
        \ `guru`, `super_admin`\n"
      operationId: deleteStoryScene
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Scene berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    example: scene deleted successfully
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/groups:
    get:
      tags:
      - Groups
      summary: Get all groups
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListWrapper'
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: size
        in: query
        schema:
          type: integer
      - name: search
        in: query
        schema:
          type: string
    post:
      tags:
      - Groups
      summary: Create group
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupWrapper'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupWrapper'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateRequest'
  /api/v1/groups/{id}:
    get:
      tags:
      - Groups
      summary: Get group detail
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetailWrapper'
    put:
      tags:
      - Groups
      summary: Update group
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupWrapper'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateRequest'
    delete:
      tags:
      - Groups
      summary: Delete group
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageWrapper'
  /api/v1/groups/{id}/invite:
    post:
      tags:
      - Groups
      summary: Invite members by email
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageWrapper'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupInviteEmailRequest'
  /api/v1/groups/{id}/invite-link:
    get:
      tags:
      - Groups
      summary: Generate invite link
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupInviteWrapper'
  /api/v1/groups/join:
    post:
      tags:
      - Groups
      summary: Join a group
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageWrapper'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupJoinRequest'
  /api/v1/groups/{id}/members:
    get:
      tags:
      - Groups
      summary: Get group members
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberListWrapper'
  /api/v1/groups/{id}/members/{member_id}:
    delete:
      tags:
      - Groups
      summary: Remove member
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: member_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageWrapper'
components:
  responses:
    UnauthorizedResponse:
      description: Token tidak valid, expired, atau tidak diberikan
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: string
                example: invalid or expired token
    ForbiddenResponse:
      description: Role tidak memiliki izin untuk mengakses resource ini
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: string
                example: 'forbidden: insufficient role'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Gunakan access token dari response login.  \nFormat: `Authorization:\
        \ Bearer <token>`  \nToken berisi claims: `user_id`, `email`, `username`,\
        \ `role`\n"
  schemas:
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
          description: Email user terdaftar
          example: admin@example.com
        password:
          type: string
          format: password
          description: Password user
          example: rahasia123
    UserRequest:
      type: object
      required:
      - username
      - email
      - password
      - role
      properties:
        username:
          type: string
          description: Nama pengguna (unik)
          example: charlie
        email:
          type: string
          format: email
          description: Alamat email (unik)
          example: charlie@example.com
        password:
          type: string
          format: password
          description: Password (akan di-hash bcrypt)
          example: secret123
        role:
          type: string
          description: 'Role user: `member`, `guru`, atau `super_admin`'
          enum:
          - member
          - guru
          - super_admin
          example: guru
    UserResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID user
        username:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum:
          - member
          - guru
          - super_admin
        created_at:
          type: string
          format: date-time
    LoginResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/UserResponse'
        access_token:
          type: string
          description: JWT access token (expired 60 menit)
        refresh_token:
          type: string
          description: JWT refresh token (expired 7 hari)
    UserResponseWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserResponse'
        paging:
          $ref: '#/components/schemas/PageMetaData'
        errors:
          type: string
    UserListResponseWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserResponse'
        paging:
          $ref: '#/components/schemas/PageMetaData'
        errors:
          type: string
    LoginResponseWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LoginResponse'
        paging:
          $ref: '#/components/schemas/PageMetaData'
        errors:
          type: string
    PageMetaData:
      type: object
      nullable: true
      properties:
        page:
          type: integer
        size:
          type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Pesan error
    ArticleCategoryRequest:
      type: object
      required:
      - nama_kategori
      properties:
        nama_kategori:
          type: string
          description: Nama kategori artikel
          example: Sejarah
    ArticleCategoryResponse:
      type: object
      properties:
        article_category_id:
          type: string
        nama_kategori:
          type: string
    ArticleCategoryWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ArticleCategoryResponse'
    ArticleCategoryListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ArticleCategoryResponse'
    StoryCategoryRequest:
      type: object
      required:
      - nama_kategori
      properties:
        nama_kategori:
          type: string
          description: Nama kategori cerita
          example: Fantasi
    StoryCategoryResponse:
      type: object
      properties:
        story_category_id:
          type: string
          description: ID kategori cerita
        nama_kategori:
          type: string
          description: Nama kategori cerita
    StoryCategoryWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/StoryCategoryResponse'
    StoryCategoryListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StoryCategoryResponse'
        paging:
          $ref: '#/components/schemas/PageMetaData'
    QuizCategoryRequest:
      type: object
      required:
      - nama_kategori
      properties:
        nama_kategori:
          type: string
          description: Nama kategori kuis
          example: Pengetahuan Umum
        deskripsi:
          type: string
          description: Deskripsi kategori kuis (opsional)
          example: Kategori kuis untuk pengetahuan umum
    QuizCategoryResponse:
      type: object
      properties:
        quiz_category_id:
          type: string
          description: ID kategori kuis
        nama_kategori:
          type: string
          description: Nama kategori kuis
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        deskripsi:
          type: string
    QuizCategoryWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/QuizCategoryResponse'
    QuizCategoryListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/QuizCategoryResponse'
        paging:
          $ref: '#/components/schemas/PageMetaData'
    ArticleCreateRequest:
      type: object
      required:
      - title
      - category_id
      properties:
        title:
          type: string
          description: Judul artikel
          example: Sejarah Kerajaan Majapahit
        category_id:
          type: string
          description: ID kategori artikel
          example: '1'
        thumbnail_asset_id:
          type: integer
          description: ID asset thumbnail (opsional)
          example: 1
    ArticleUpdateRequest:
      type: object
      required:
      - title
      - category_id
      - status
      - content
      properties:
        title:
          type: string
          description: Judul artikel
        category_id:
          type: string
          description: ID kategori artikel
        status:
          type: string
          description: Status publikasi
          enum:
          - draft
          - published
        content:
          type: string
          description: Konten BSON dari Block-Based Editor
        thumbnail_asset_id:
          type: integer
          description: ID asset thumbnail (opsional)
    ArticleResponse:
      type: object
      properties:
        article_id:
          type: string
        slug:
          type: string
          description: Auto-generated dari judul
        title:
          type: string
        content:
          type: string
          description: Konten BSON (hanya muncul pada detail)
        category:
          $ref: '#/components/schemas/ArticleCategoryResponse'
        status:
          type: string
          enum:
          - draft
          - published
        excerpt:
          type: string
          description: Auto-generated dari konten (max 150 chars)
        created_by:
          $ref: '#/components/schemas/UserResponse'
        created_at:
          type: string
          format: date-time
        thumbnail:
          type: string
    ArticleWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ArticleResponse'
    ArticleListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ArticleResponse'
    UploadResponse:
      type: object
      properties:
        asset_id:
          type: integer
          description: ID asset yang baru dibuat
          example: 1
        url:
          type: string
          description: URL akses gambar (relative path)
          example: /uploads/2026/03/uuid.webp
        filename:
          type: string
          description: Nama file asli
          example: majapahit.jpg
        size:
          type: integer
          description: Ukuran file dalam bytes
          example: 204800
    UploadResponseWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UploadResponse'
    PuzzleRequest:
      type: object
      required:
      - judul
      - kategori
      - xp_reward
      - is_published
      properties:
        judul:
          type: string
        gambar_asset_id:
          type: integer
          description: ID asset untuk gambar puzzle
        thumbnail_asset_id:
          type: integer
          description: ID asset untuk thumbnail puzzle
        kategori:
          type: string
        xp_reward:
          type: integer
        is_published:
          type: boolean
    PuzzleResponse:
      type: object
      properties:
        puzzle_id:
          type: string
        judul:
          type: string
        gambar:
          type: string
        thumbnail:
          type: string
        kategori:
          type: string
        xp_reward:
          type: integer
        user:
          $ref: '#/components/schemas/UserResponse'
        created_at:
          type: string
          format: date-time
        is_published:
          type: boolean
    PuzzleWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PuzzleResponse'
    PuzzleListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PuzzleResponse'
    OptionRequest:
      type: object
      required:
      - teks_jawaban
      - is_correct
      - score
      properties:
        teks_jawaban:
          type: string
          example: Jakarta
        is_correct:
          type: boolean
          example: true
        score:
          type: integer
          example: 10
    QuestionRequest:
      type: object
      required:
      - teks_pertanyaan
      - tipe
      - poin
      - pilihan
      properties:
        urutan:
          type: integer
          example: 1
        teks_pertanyaan:
          type: string
          example: Apa ibukota Indonesia?
        tipe:
          type: string
          enum:
          - pilihan_ganda
          - benar_salah
          example: pilihan_ganda
        poin:
          type: integer
          example: 10
        image_asset_id:
          type: integer
          example: 1
        pilihan:
          type: array
          items:
            $ref: '#/components/schemas/OptionRequest'
    QuizRequest:
      type: object
      required:
      - judul
      - xp_reward
      - kategori_id
      - is_published
      - soal
      properties:
        judul:
          type: string
          example: Kuis Geografi Indonesia
        gambar_asset_id:
          type: integer
          example: 1
        thumbnail_asset_id:
          type: integer
          example: 2
        xp_reward:
          type: integer
          example: 100
        kategori_id:
          type: string
          example: '2'
        is_published:
          type: boolean
          example: true
        soal:
          type: array
          items:
            $ref: '#/components/schemas/QuestionRequest'
    OptionResponse:
      type: object
      properties:
        pilihan_id:
          type: integer
          example: 1
        pertanyaan_id:
          type: integer
          example: 1
        teks_pilihan:
          type: string
          example: Jakarta
        is_correct:
          type: boolean
          example: true
        score:
          type: integer
          example: 10
    QuestionResponse:
      type: object
      properties:
        pertanyaan_id:
          type: integer
          example: 1
        kuis_id:
          type: integer
          example: 1
        teks_pertanyaan:
          type: string
          example: Apa ibukota Indonesia?
        tipe:
          type: string
          example: multiple_choice
        poin:
          type: integer
          example: 10
        pertanyaan_gambar:
          type: string
          example: /uploads/2026/03/peta-indonesia.jpg
        pilihan:
          type: array
          items:
            $ref: '#/components/schemas/OptionResponse'
    QuizResponse:
      type: object
      properties:
        kuis_id:
          type: integer
          example: 1
        judul:
          type: string
          example: Kuis Geografi Indonesia
        gambar:
          type: string
          example: /uploads/2026/03/geografi-bg.jpg
        thumbnail:
          type: string
          example: /uploads/2026/03/geografi-thumb.jpg
        xp_reward:
          type: integer
          example: 100
        kategori_id:
          type: string
          example: '2'
        kategori:
          type: string
          example: Geografi Nusantara
        is_published:
          type: boolean
          example: true
        user:
          $ref: '#/components/schemas/UserResponse'
        created_at:
          type: string
          format: date-time
          example: '2026-03-25T15:04:05Z'
        soal:
          type: array
          items:
            $ref: '#/components/schemas/QuestionResponse'
    QuizWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/QuizResponse'
    QuizListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/QuizResponse'
        paging:
          $ref: '#/components/schemas/PageMetaData'
    SceneChoice:
      type: object
      properties:
        text:
          type: string
          description: Teks pilihan
          example: Pergi ke hutan
        next:
          type: string
          description: scene_key tujuan
          example: scene_hutan
    SceneRequest:
      type: object
      required:
      - scene_key
      - scene_text
      properties:
        scene_key:
          type: string
          description: Kunci unik scene (untuk navigasi)
          example: scene_awal
        scene_image_asset_id:
          type: integer
          description: ID asset gambar scene
          example: 1
        scene_text:
          type: string
          description: Narasi / teks scene
          example: Kamu berada di sebuah persimpangan jalan...
        scene_choices:
          type: array
          items:
            $ref: '#/components/schemas/SceneChoice'
        is_ending:
          type: boolean
          description: Apakah scene ini adalah ending
          example: false
        ending_point:
          type: integer
          description: Poin yang didapat jika ini ending
          example: 0
        ending_type:
          type: string
          description: Tipe ending (good/bad/neutral)
          example: ''
        urutan:
          type: integer
          description: Urutan scene
          example: 1
    SceneResponse:
      type: object
      properties:
        scene_id:
          type: integer
          example: 1
        cerita_id:
          type: integer
          example: 1
        scene_key:
          type: string
          example: scene_awal
        scene_image:
          type: string
          example: /uploads/2026/03/scene-awal.jpg
        scene_text:
          type: string
          example: Kamu berada di sebuah persimpangan jalan...
        scene_choices:
          type: array
          items:
            $ref: '#/components/schemas/SceneChoice'
        is_ending:
          type: boolean
          example: false
        ending_point:
          type: integer
          example: 0
        ending_type:
          type: string
          example: ''
        urutan:
          type: integer
          example: 1
    StoryRequest:
      type: object
      required:
      - judul
      - kategori_id
      properties:
        judul:
          type: string
          description: Judul cerita interaktif
          example: Petualangan di Hutan Rimba
        thumbnail_asset_id:
          type: integer
          description: ID asset thumbnail cerita
          example: 1
        deskripsi:
          type: string
          description: Deskripsi singkat cerita
          example: Cerita tentang petualangan di hutan rimba Kalimantan.
        kategori_id:
          type: integer
          example: 1
        xp_reward:
          type: integer
          example: 50
        is_published:
          type: boolean
          example: true
    StoryResponse:
      type: object
      properties:
        cerita_id:
          type: integer
          example: 1
        judul:
          type: string
          example: Petualangan di Hutan Rimba
        thumbnail:
          type: string
          example: /uploads/2026/03/cerita-thumb.jpg
        deskripsi:
          type: string
          example: Cerita tentang petualangan di hutan rimba Kalimantan.
        kategori_id:
          type: integer
          example: 1
        xp_reward:
          type: integer
          example: 50
        scenes:
          type: array
          items:
            $ref: '#/components/schemas/SceneResponse'
        created_at:
          type: string
          format: date-time
          example: '2026-03-26T10:00:00Z'
        created_by:
          $ref: '#/components/schemas/UserResponse'
        is_published:
          type: boolean
          example: true
    StoryWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/StoryResponse'
    SceneWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SceneResponse'
    StoryListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StoryResponse'
        paging:
          $ref: '#/components/schemas/PageMetaData'
    GroupCreateRequest:
      type: object
      required:
      - group_name
      properties:
        group_name:
          type: string
          maxLength: 191
          example: Kelas 9A - Matematika
    GroupUpdateRequest:
      type: object
      required:
      - group_name
      properties:
        group_name:
          type: string
          maxLength: 191
          example: Kelas 9A - Matematika
        thumbnail_asset_id:
          type: integer
          example: 10
    GroupInviteEmailRequest:
      type: object
      required:
      - emails
      properties:
        emails:
          type: array
          items:
            type: string
            format: email
    GroupJoinRequest:
      type: object
      required:
      - invite_token
      properties:
        invite_token:
          type: string
          example: eyJhbG...
    GroupGuruResponse:
      type: object
      properties:
        guru_id:
          type: integer
          example: 1
        nip:
          type: string
          example: '198501012010011001'
        bidang_ajar:
          type: string
          example: Matematika
        username:
          type: string
          example: pak_budi
    GroupResponse:
      type: object
      properties:
        group_id:
          type: string
          format: uuid
        group_name:
          type: string
          example: Kelas 9A - Matematika
        thumbnail:
          type: string
          example: https://arsiva.app/uploads/thumbnail.webp
        created_by:
          $ref: '#/components/schemas/GroupGuruResponse'
        created_at:
          type: string
          example: '2026-04-24 13:00:00'
        updated_at:
          type: string
          example: '2026-04-24 13:00:00'
        member_count:
          type: integer
          example: 0
    GroupMemberResponse:
      type: object
      properties:
        member_id:
          type: integer
          example: 1
        username:
          type: string
          example: andi_siswa
        email:
          type: string
          format: email
          example: andi@example.com
        nis:
          type: string
          example: '2024001'
        foto_profil:
          type: string
          example: ''
        tanggal_bergabung:
          type: string
          example: '2026-04-24 14:00:00'
    GroupDetailResponse:
      type: object
      properties:
        group_id:
          type: string
          format: uuid
        group_name:
          type: string
          example: Kelas 9A - Matematika
        thumbnail:
          type: string
          example: https://arsiva.app/uploads/thumbnail.webp
        created_by:
          $ref: '#/components/schemas/GroupGuruResponse'
        created_at:
          type: string
          example: '2026-04-24 13:00:00'
        updated_at:
          type: string
          example: '2026-04-24 13:00:00'
        member_count:
          type: integer
          example: 2
        members:
          type: array
          items:
            $ref: '#/components/schemas/GroupMemberResponse'
    GroupInviteResponse:
      type: object
      properties:
        invite_token:
          type: string
        invite_link:
          type: string
        qr_code_data:
          type: string
        expires_at:
          type: string
    GroupWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GroupResponse'
    GroupDetailWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GroupDetailResponse'
    GroupListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GroupResponse'
        paging:
          $ref: '#/components/schemas/PageMetaData'
    GroupInviteWrapper:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/GroupInviteResponse'
    GroupMemberListWrapper:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GroupMemberResponse'
    MessageWrapper:
      type: object
      properties:
        data:
          type: string
          example: Success message
